AWS IAM credentials.docx
AWS EMR & Spark.docx
AWS Glue.docx
AWS Kenesis.docx
AWS Lambda.docx
AWS S3.docx
DynamoDB.docx
Kinesis stream from EC2 instance to S3.docx
Order books application.docx
